*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  /* IE */
  scrollbar-width: none;
  /* Firefox */ }
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
    /* Chrome */ }


.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.logo {
  width: 70px;
  height: 70px;
  margin-top: 12px;
  margin-right: 10px;
}
.navName {
  display: flex;

}
a {
  text-decoration: none;
  
}

.navButtons {
  margin-top: 30px;
}

.navButtons a {
  color: white;
  font-size: 18px;
  padding: 10px;
  

}
.cart {
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.navBar {
  background-color: #282c34;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
}

.tfoot { display: flex;
  justify-content: space-around;}
.tfoot h5 { 
 
  margin:5px;
}

.noshow {display: none !important}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
td, th { font-size: 1.3em;}

.light { background-color: #f8f9fa;}

.second { background-color: #6c757d;}

.bgdark { background-color: #1d1f20;}

@media (max-width: 380px) {
td, th { font-size: 0.8em;}


 
}